
<div class="row">
  <div class="col-12">
    <input (keyup)="onChangeInput($event)" type="text" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="onChangeSort('id')">#</th>
          <th (click)="onChangeSort('name')">name</th>
          <th (click)="onChangeSort('superPower')">superPower</th>
          <th (click)="onChangeSort('address')">address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hero of heroList | filter:phrase:key | sorter:column">
          <td>{{ hero.id }}</td>
          <td>{{ hero.name }}</td>
          <td>{{ hero.superPower }}</td>
          <td>{{ hero.address }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
